{% extends "base.html" %}

{% block page_title %}
  Listando Editor
{% endblock %}

{% block page_content %}
  <h1>Lista de Editores</h1>
  <form action="/editor/buscar/" method="get">
      <input type="text" name="q">
      <input type="submit" value="Buscar">
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>nombre</th>
        <th>domicilio</th>
        <th>ciudad</th>
        <th>estado</th>
        <th>pais</th>
        <th>sitio web</th>
      </tr>
    </thead>
    <tbody>
      {% if object_list %}
        {% for editor in object_list %}
          <tr>
            <td>{{ editor.id }}</td>
            <td>{{ editor.nombre }}</td>
            <td>{{ editor.domicilio }}</td>
            <td>{{ editor.ciudad }}</td>
            <td>{{ editor.estado }}</td>
            <td>{{ editor.pais }}</td>
            <td>{{ editor.website }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'biblioteca:modificar_editor' pk=editor.id %}">Editar</a>
              <a class="btn btn-danger" href="{% url 'biblioteca:eliminar_editor' pk=editor.id %}">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <h1>No hay registros de solicitudes</h1>
      {% endif %}
    <tbody>  
  </table>
{% endblock %}
