{% extends "base.html" %}

{% block page_title %}
  Listando Editor
{% endblock %}

{% block page_content %}

<div style="padding: 100px 100px 10px;">
     <div style="width: 500px; margin: 0 auto;">
        <div class="input-group">
           <input type="text" class="form-control" id="searchinput">
           <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                 Go!
              </button>
           </span>
        </div>
     </div>
    <ul id="re">
    </ul>
</div>

<div class="ui-widget">
  <label for="tags1">Busqueda: </label>
  <input id="tags1">
</div>

<h1>Editores</h1>
<div class="form-group bmd-form-group">
  <label class="bmd-label-static" for="ari">Editor:</label>
  <input id="ari" class="form-control" placeholder="Editor" style="width:500px">
</div>

  <form action="{% url 'biblioteca:buscar_editor' %}" method="post">
      {% csrf_token %}
      <input type="text" name="busca">
      <input class="btn btn-primary" type="submit" value="Buscar">
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>nombre</th>
        <th>domicilio</th>
        <th>ciudad</th>
        <th>estado</th>
        <th>pais</th>
        <th>sitio web</th>
      </tr>
    </thead>
    <tbody>
      {% if object_list %}
        {% for editor in object_list %}
          <tr>
            <td>{{ editor.id }}</td>
            <td>{{ editor.nombre }}</td>
            <td>{{ editor.domicilio }}</td>
            <td>{{ editor.ciudad }}</td>
            <td>{{ editor.estado }}</td>
            <td>{{ editor.pais }}</td>
            <td>{{ editor.website }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'biblioteca:modificar_editor' pk=editor.id %}">Editar</a>
              <a class="btn btn-danger" href="{% url 'biblioteca:eliminar_editor' pk=editor.id %}">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <h1>No hay registros de solicitudes</h1>
      {% endif %}
    <tbody>
  </table>

  <ul class="pager">
    <li>
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
    </li>
    <li>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </li>
  </ul>

{% endblock %}
